*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    
}

.grid_container{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 80px calc(100vh - 260px) 80px;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";

    
        
}

/* Header */

header{
    grid-area: header;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    

}



/* Nav */

nav{
    grid-area: nav;
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

/*Main*/

main{
    grid-area: main;
    background-color: white;
}

.grid_main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 5px;
    align-items: center;
    justify-items: center;
}

.box{
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: solid 1px whitesmoke;
    box-shadow:   
        3px 3px whitesmoke,
        2px 2px rgb(211, 208, 208);
    

}

.box .imagen{         
    height: 40%;
    width: 90%;
    border: solid 1px black;
    border-style: hidden;
    
}

.box .imagen img{
    height: 100%;
    width: 100%;
    object-fit: cover;     
    
}

.box .description{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 40%;
    width: 100%;
   
}

.box .boton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 50%;
    background-color: whitesmoke;
    border-radius: 20px;
       
    
}

.box .boton a{
    text-decoration: none;
    color: black;
       
    
}

.table{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80px;
    width: 100px;
    text-decoration: none;
}

.table .numbers{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    text-decoration: none;
    
}

.table .numbers li{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 5px;

}

@media (min-width: 576px) {
    .table {
    display: none;
    }
}


/*Footer*/

footer{
    grid-area: footer;
    background-color: green;
}



